---
import PostItem from "@/components/PostItem.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blogPosts");
---

<MainLayout>
  <div class="py-4">
    <h3 class="text-3xl font-bold">Latest blog posts</h3>
    <div class="flex flex-col gap-4 mt-4">
      {
        posts
          .sort((a, b) => {
            return b.data.pubDate.getTime() - a.data.pubDate.getTime();
          })
          .map((postItem) => <PostItem post={postItem} />)
      }
    </div>
  </div>
</MainLayout>
