---
import MainLayout from "@/components/MainLayout.astro";
---

<MainLayout parentClass="p-8" title="My Services">
  <Fragment slot="head">
    <meta name="google-image" content="index, follow" />
  </Fragment>
  <h3 class="text-3xl font-bold">My Services</h3>
  
</MainLayout>
