---
import MainLayout from "@/components/MainLayout.astro";
---

<MainLayout
  mainClass="relative"
  parentClass="absolute inset-0 flex flex-col justify-center items-center"
>
  <div class="m-4 text-center">
    <h3 class="text-3xl font-bold">404 Not Found</h3>
    <p>The page you are requested was not found!</p>
  </div>
</MainLayout>
