---
import { getCollection, getEntry } from "astro:content";
import MainLayout from "@/components/MainLayout.astro";
import PostItem from "@/components/PostItem.astro";

const profile = await getEntry("profiles", "arisris");
const posts = await getCollection(
  "blogPosts",
  (e) => e.data.author.slug === profile.slug && e.data.status === "publish"
);
---

<MainLayout>
  <div class="grid grid-cols-12 gap-y-8 gap-x-4 md:gap-y-16 my-8 p-3 md:p-0">
    <div class="col-span-12 sm:col-span-4 md:mr-auto">
      <img
        class="w-48 h-48 rounded-xl"
        src={profile.data.avatar}
        alt="Avatar"
      />
    </div>
    <div class="col-span-12 sm:col-span-8 flex flex-col gap-y-2">
      <h3 class="text-3xl font-bold">Jamstack Web Developer</h3>
      <strong>Edge stack is the future of the web</strong>
      <p class="leading-relaxed">
        Welcome to my homepage. I like web, I love learning new things. My daily
        routine is in front of the PC, writing lines of code accompanied by a
        cup of black coffee. And i am also freelance. what i can do? <a
          href="/services"
          class="text-pink hover:underline">See my services</a
        >
      </p>
    </div>
    <div class="col-span-12">
      <h3 class="text-2xl font-bold">Recent Publications</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
        {
          posts
            .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
            .slice(0, 2)
            .map((postItem) => <PostItem post={postItem} />)
        }
      </div>
    </div>
  </div>
</MainLayout>
